{% extends "auth/layout/layout.twig" %}

{% block javascript %}
	{{ parent() }}
	{{ encore_entry_script_tags('forgot_password') }}
{% endblock %}

{% block title %}
	Blogginit | Password Reset
{% endblock %}

{% block content %}

	<div class="card shadow-sm p-4 mx-auto my-5" style="max-width: 400px; width: 100%;">
		<h1 class="h4 text-center mb-4">Password Reset</h1>
		<form class="reset-password-form" method="post" action="/reset-password/{{ token }}">
			<div class="mb-3">
				<label for="password" class="form-label">Enter your new password</label>
				<input type="password" id="password" name="password" class="form-control {{ errors.password ? 'is-invalid' : '' }}" required>
                <div class="invalid-feedback">
                    {{ errors.password | first }}
                </div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Confirm password</label>
				<input type="password" id="password" name="confirmPassword" class="form-control {{ errors.confirmPassword ? 'is-invalid' : '' }}" required>
                <div class="invalid-feedback">
                    {{ errors.confirmPassword | first }}
                </div>
			</div>
			<button type="button" class="btn btn-primary w-100 reset-password-btn">Update</button>
		</form>
	</div>

{% endblock %}
