<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}" type="image/x-icon">

		{% block stylesheets %}

			{{ encore_entry_link_tags('main') }}

		{% endblock %}

		{% block javascript %}

			{{ encore_entry_script_tags('main') }}

		{% endblock %}

		<title>
			{% block title %}{% endblock %}
		</title>

	</head>

	<body class="bg-light">

        <nav class="bg-white navbar navbar-light px-5">
            <div class="container">
                <a class="navbar-brand" href="#">Blogginit</a>
                {{ user.name }}
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </nav>

		<div class="container">
        
            {% block content %}{% endblock %}

		</div>

        <footer class="bg-primary text-white p-2 text-center fixed-bottom">

            <div class="container">

                <p>&copy; {{ 'now' | date('Y') }} Blogginit. All rights reserved.</p>
                
            </div>

        </footer>

	</body>

</html>
