{% extends 'extras/layout/layout.twig' %}

{% block title %}
	Blogginit | {{blog.user.name}}
{% endblock %}

{% block javascript %}
    {{ parent() }}
	{{ encore_entry_script_tags('read') }}
{% endblock %}

{% block page_title %}
	{{blog.title}}
{% endblock %}


{% block page_description %}
    <img src="{{ asset('build/images/blogginit.png') }}" alt="" class="img-icon">
    {{blog.user.name}}
    <br>
    <div class="d-inline">
		<span class="badge bg-primary">{{blog.category}}</span>
    </div>
	{{ blog.created_at|date('d M, Y') }}
{% endblock %}

{% block content %}
	<div class="container mt-5">
        {{blog.content}}
	</div>

    <div class="my-4">
        <div class="row">
            <div class="col-4 text-center bg-warning-subtle p-2 border-end border-light">
                <button class="btn p-0 toggle-tick-btn" data-blog-uuid="{{blog.uuid}}">
                    <i class="bi {{ticked ? 'bi-check-circle-fill' : 'bi-check-circle'}} text-primary toggle-tick-icon"></i>
                    {# {{blog.ticks}} #}
                </button>
            </div>
            <div class="col-4 text-center bg-warning-subtle p-2 border-end border-light">
                <a href="#comment">
                    <i class="bi bi-chat-right-dots text-primary"></i>
                </a>
            </div>
            <div class="dropdown col-4 text-center bg-warning-subtle p-2">
                <a href="#" class="dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-share-fill text-primary"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                    <li>
                        <a class="dropdown-item" href="https://www.facebook.com/sharer.php?text=Check out this blog on {{blog.title}} at: https%3A%2F%2Fblogginit.test/blog/{{blog.uuid}}" target="_blank">
                            <i class="bi bi-facebook me-1 text-primary"></i> Share on FB</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="https://www.twitter.com/intent/tweet?text=Check out this blog on {{blog.title}} at: https%3A%2F%2Fblogginit.test/blog/{{blog.uuid}}" target="_blank">
                            <i class="bi bi-twitter-x me-1 text-primary"></i> Share on X</a>
                    </li>
                    <li>
                        <a class="dropdown-item copy-btn" href="#">
                            <i class="bi bi-clipboard me-1 text-primary"></i> Copy link</a>
                    </li>
                </ul>
            </div>
		</div>
        {% for comment in blog.comments %}
            <div class="card border-primary mt-4">
                <div class=" card-header">{{comment.user.name}}</div>
                <div class="card-body">
                    <p class="lead">{{comment.text}}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 text-center border-end border-light">
                            <button class="btn p-0 toggle-comment-tick-btn" data-blog-uuid="{{blog.uuid}}">
                                <i class="bi {{comment_ticked ? 'bi-check-circle-fill' : 'bi-check-circle'}} text-primary toggle-tick-icon"></i>
                            </button>
                        </div>
                        <div class="col-6 text-end">
                            {{comment.created_at | date('d, m Y')}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if user %}
            <div class="mt-4 card border-primary">
                <div class="card-body" id="comment">
                    <form action="/blog/{{blog.uuid}}/comment" method="post">
                        {{csrf.fields | raw}}
                        <p class="lead card-title">Leave a comment</p>
                        <hr>
                        <div class="mb-3">
                            <label for="text" class="form-label">Comment</label>
                            <textarea class="form-control" name="comment" id="text" required></textarea>
                        </div>
                        <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
        {% endif %}
            </div>
    </div>

{% endblock %}
