{% extends 'app/layout/layout.twig' %}

{% block title %}
	Blogginit | Reports
{% endblock %}

{% block page_title %}
	Statistics
{% endblock %}


{% block page_description %}
	Monitor your blogs!
{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="">
			<div class="card border-primary">
				<div class="card-body">
					<h5 class="card-title text-primary">General Reports</h5>
					<hr>

					<p class="card-text text-secondary">Total Blog Posts:
						{{ totalBlogPosts}}</p>
					<p class="card-text text-secondary">Total Blog Ticks:
						{{totalBlogTicks}}</p>
					<p class="card-text text-secondary">Total Blog Views:
						{{totalBlogViews}}</p>
					<p class="card-text text-secondary">Average Blog Views:
						{{averageBlogViews}}</p>
				</div>
			</div>
		</div>
		<div class="row mt-4">
            {% for blog in blogs %}

            <div class="col-md-4 mb-3">
				<div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{blog.title}}</h5>
                        <p class="card-text text-secondary">T: {{blog.ticks}} V: {{blog.views}}</p>
                        <a href="#" class="btn btn-primary">View Stats</a>
                    </div>
				</div>
			</div>

            {% else %}

			<div class="row">
				<div class="col-12 text-center">
					<h1 class="lead alert alert-warning" role="alert">No Blogs Found</h1>
				</div>
                <a href="blogs/create" class="btn btn-primary bg-gradient px-2 col-4 ms-5">Create your first blog</a>
			</div>

            {% endfor %}
        </div>
	</div>


{% endblock %}
